*{
	margin:0;
	padding:0;
}

body{
	background-image:url("../slike/pitch.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#player{
	width:130px;
	height:125px;
	background-image:url("../slike/player.png");
	margin:70px auto 0px;
	
}

#all{
	position:relative;
	width:482px;
	height:482px;
	margin:0px auto;
}

#slika{
	position:absolute;
}

#maze{
	position:absolute
}

#glava{
	width:400px;
	height:50px;
	margin:0px auto;
	text-align:center;
	line-height:150px;
}


#goal{
	width:300px;
	height:210px;
	margin:0 auto;
	background-image:url("../slike/goal.png");
}

#ball
{
	width:90px;
	height:90px;
	background-image:url("../slike/ball.png");
	margin-left:50px;
	margin-top:40px;
	float: right;
	visibility:hidden;
}


